<template>
  <div>
    <navigation
      :imgUser="navigation.imgUser"
      :nameUser="navigation.nameUser"
      :emailUser="navigation.emailUser"
    ></navigation>

    <div class="banner">
      <img src="~@/assets/banner.png" />
    </div>

    <div v-for="cat in catalog" :key="cat.category">
      <catalog
        :category="cat.category" :isRecents="cat.isRecents"
        :films="cat.films"
      ></catalog>
    </div>
  </div>
</template>

<script>
import navigation from "@/components/Navigation";
import catalog from "@/components/Catalog";

export default {
  components: {
    navigation,
    catalog
  },
  data() {
    return {
      navigation: {
        imgUser: "user1.jpg",
        nameUser: "User 1",
        emailUser: "user1@mail.com"
      },
      catalog: [
        {
          isRecents: true,
          category: "Assistidos Recentemente",
          films: [
            {
              name: "Homem-Aranha: longe de casa",
              img: "spiderman.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Toy Story 4",
              img: "toy-story.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "O Rei Leão",
              img: "rei-leao.jpg",
              url: "/user/1/see-movie"
            }
          ]
        },
        {
          category: "Lançamentos",
          films: [
            {
              name: "Breaking Surface",
              img: "breaking-surface.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Magia Geral",
              img: "magia.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "O Fim",
              img: "fim.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Slippy Slope",
              img: "slippy.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Neste lugar cinzento",
              img: "cinzento.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "O desfile de 2019 Rose com Cord & Tish",
              img: "desfile.jpg",
              url: "/user/1/see-movie"
            }
          ]
        },
        {
          category: "Mais Assistidos (Brasil)",
          films: [
            {
              name: "O Rei Leão",
              img: "rei-leao.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Homem-Aranha: longe de casa",
              img: "spiderman.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Alita: Battle Angel",
              img: "alita.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Toy Story 4",
              img: "toy-story.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Homens de preto: internacional",
              img: "mib.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Shazam!",
              img: "shazam.jpg",
              url: "/user/1/see-movie"
            }
          ]
        },
        {
          category: "Mais Assistidos (EUA)",
          films: [
            {
              name: "Toy Story 4",
              img: "toy-story.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "O Rei Leão",
              img: "rei-leao.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Homem-Aranha: longe de casa",
              img: "spiderman.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "O desfile de 2019 Rose com Cord & Tish",
              img: "desfile.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Homens de preto: internacional",
              img: "mib.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Breaking Surface",
              img: "breaking-surface.jpg",
              url: "/user/1/see-movie"
            }
          ]
        },
        {
          category: "Comédia",
          films: [
            {
              name: "Era uma vez em Hollywood",
              img: "era-uma-vez.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "A paixão de Jaquavious Jacoby",
              img: "paixao.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "A queda de 76",
              img: "queda.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Felizes juntos",
              img: "felizes.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Kinky Boots The Musical",
              img: "kinky.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Mr. Pregnant",
              img: "pregnant.jpg",
              url: "/user/1/see-movie"
            }
          ]
        },
        {
          category: "Animações",
          films: [
            {
              name: "PATA PATRULHA: Poderosos Filhotes",
              img: "pata.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Feito em Abyss: Journey's Dawn",
              img: "abyss.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Astro Gardener",
              img: "astro.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Pororo 5: Treasure Island Adventure",
              img: "pororo.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Urbanus: De Vuilnisheld",
              img: "urbanus.jpg",
              url: "/user/1/see-movie"
            },
            {
              name: "Promare",
              img: "promare.jpg",
              url: "/user/1/see-movie"
            }
          ]
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}
</style>

