<template>
  <div>
    <navigation
      :imgUser="navigation.imgUser"
      :nameUser="navigation.nameUser"
      :emailUser="navigation.emailUser"
    ></navigation>

    <div class="see-movie">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/LLf8xtLMU4g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <infoMovie
      :score="infoMovie.score"
      :synopsis="infoMovie.synopsis"
      :topUsers='infoMovie.topUsers'
    ></infoMovie>
  </div>
</template>

<script>
import navigation from "@/components/Navigation";
import infoMovie from "@/components/InfoMovie";

export default {
  components: {
    navigation,
    infoMovie
  },
  data() {
    return {
      navigation: {
        imgUser: "user2.png",
        nameUser: "User 2",
        emailUser: "user2@mail.com"
      },
      infoMovie: {
        score: 97,
        synopsis:
          "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.",
        topUsers: [
          {
            imgUser: "user3.jpg",
            name: "User 3"
          },
          {
            imgUser: "user1.jpg",
            name: "User 1"
          },
          {
            imgUser: "user2.png",
            name: "User 2"
          }
        ]
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";

.see-movie {
  background-color: lighten(map-get($colors, "black"), 10%);
  width: 100%;
  height: 100vh;
}
</style>

