<template>
  <div class="films">
    <h3 class="category">{{ category }}</h3>

    <ul class="films-list" :class="{ recents: isRecents }">
      <li v-for="film in films" :key="film.name">
        <router-link class="item" :to="film.url">
          <img class="item-img" :src="require(`@/assets/images/catalogs/${film.img}`)" />
          <p class="item-name">{{ film.name }}</p>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Catalog",
  props: {
    category: String,
    isRecents: Boolean,
    films: Array
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";

.films {
  background-color: lighten(map-get($colors, "black"), 10%);
  padding: 40px;

  .category {
    @include font(30);
    display: block;
    font-weight: 500;
    color: map-get($colors, "white");
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 4px solid map-get($colors, "primary");
    margin: 0;
    margin-top: 50px;
  }

  &-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-around;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
      text-decoration: none;

      &-img {
        max-height: 250px;
        margin-bottom: 20px;
        transition: 0.25s ease-in-out;
      }

      &-name {
        @include font(20);
        margin: 0;
        font-weight: 400;
        color: map-get($colors, "white");
        white-space: nowrap;
        max-width: 160px;
        overflow: hidden;
      }

      &:hover {
        .item-img {
          transform: scale(1.04);
          box-shadow: 0 4px 8px -2px map-get($colors, "black");
        }
      }
    }

    &.recents {
      justify-content: flex-start;

      .item {
        margin-right: 40px;

        &-img {
          width: 150px;
          border-radius: 50%;
          height: 150px;
          border: 2px solid map-get($colors, "primary");
          margin-bottom: 10px;
        }
      }
    }
  }
}
</style>

