<template>
  <div class="info-movie">
    <div class="head">
      <div>
        <h3 class="head-title">Quem assistiu mais vezes</h3>
        <ul class="top-users">
          <li v-for="top in topUsers" :key="top.name">
            <div class="box-img">
              <img class="img-user" :src="require(`@/assets/${top.imgUser}`)" />
            </div>
            <p class="name-user">{{ top.name }}</p>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="head-title">Score</h3>
        <p class="score">{{ score }} %</p>
      </div>
    </div>

    <h4 class="title-synopsis">Sinopse</h4>
    <p class="synopsis">{{ synopsis }}</p>
  </div>
</template>

<script>
export default {
  name: "infoMovie",
  props: {
    topUsers: Array,
    score: Number,
    synopsis: String
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";

.info-movie {
  background-color: lighten(map-get($colors, "black"), 10%);
  padding: 40px;

  .head {
    display: flex;
    justify-content: space-between;

    &-title {
      @include font(30);
      font-weight: 500;
      color: map-get($colors, "white");
      border-bottom: 4px solid map-get($colors, "primary");
      padding-bottom: 10px;
      display: inline-block;
      margin: 0;
      margin-bottom: 30px;
    }

    .score {
      @include font(35);
      margin: 0;
      font-weight: bold;
      color: map-get($colors, "green");
    }
  }

  .top-users {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin-right: 15px;

      .box-img {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 50%;
        background-image: linear-gradient(
          to bottom right,
          map-get($colors, "primary"),
          lighten(map-get($colors, "primary"), 25%)
        );
        padding: 2px;
        transition: 0.25s ease-in-out;

        .img-user {
          width: 100%;
          border-radius: 50%;
        }
      }

      .name-user {
        margin: 0;
        text-align: center;
        color: map-get($colors, "white");
        margin-top: 10px;
      }
    }
  }

  .title-synopsis {
    @include font(30);
    display: block;
    font-weight: 500;
    color: map-get($colors, "white");
    text-transform: uppercase;
    padding-bottom: 8px;
    border-bottom: 4px solid map-get($colors, "primary");
    margin: 0;
    margin-top: 50px;
  }

  .synopsis {
    @include font(18);
    color: map-get($colors, "white");
  }
}
</style>

