<template>
  <div id="login">
    <div class="mask">
      <div class="form">
        <h1>Login</h1>

        <p>
          <input type="text" placeholder="Username" v-model="user" @change="login" />
        </p>
        <p>
          <input type="password" placeholder="Password" v-model="password" @change="login" />
        </p>

        <p v-if="error.check" class="warning" @click="error.check = false">
          <span class="close">x</span>
          {{ error.msgError }}
        </p>

        <router-link class="button active" :to="loginTo">Login</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      loginTo: "",
      user: "",
      password: "",
      error: {
        check: false,
        msgError: "Usuário e/ou senha incorreto(s)."
      }
    };
  },
  methods: {
    login() {
      if (this.user == "user1" && this.password == "user1") {
        this.error.check = false;
        this.loginTo = "/user/1";
      } else if (this.user == "user2" && this.password == "user2") {
        this.error.check = false;
        this.loginTo = "/user/2";
      } else if (this.user == "user3" && this.password == "user3") {
        this.error.check = false;
        this.loginTo = "/user/3";
      } else {
        this.error.check = true;
        this.loginTo = "";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/variables';

h1 {
  @include font(50);
  color: map-get($colors, 'white');
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

#login {
  position: relative;
  height: 100vh;
  background-image: url("~@/assets/back-login.jpg");

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0005;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.form {
  @include font(18);
  width: 420px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 40px 30px;

  p {
    margin: 0;
    margin-bottom: 20px;
  }

  input {
    display: block;
    width: 100%;
    outline: none;
    padding: 15px;
    border: none;
    border-radius: 5px;
  }

  .warning {
    position: relative;
    background: map-get($colors, 'warning');
    font-size: 12px;
    margin: 10px 0;
    display: block;
    padding: 15px;
    color: map-get($colors, 'white');
    border-radius: 5px;

    .close {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: initial;
      opacity: 0.5;
      transition: 0.25s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .button {
    display: block;
    background-color: map-get($colors, 'primary');
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    color: map-get($colors, 'white');
    text-decoration: none;
    transition: 0.25s ease-in-out;
    margin-top: 40px;
    font-weight: 500;

    &:hover {
      background-color: darken(map-get($colors, 'primary'), 10%);
    }
  }
}
</style>

