<template>
  <nav class="navigation">
    <div>
      <router-link class="brand" to="/">Ilegra</router-link>
    </div>

    <div class="info-user" @click="infoDrop = !infoDrop">
      <img class="img-user" :src="require(`@/assets/${imgUser}`)" />

      <span class="caret"></span>

      <ul class="info-drop" v-if="infoDrop">
        <li>{{ nameUser }}</li>
        <li>{{ emailUser }}</li>
        <li>
          <router-link to="/login" class="logout">Logout</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
  infoDrop: false,
  props: {
    imgUser: {
      type: String,
      required: true
    },
    nameUser: String,
    emailUser: String
  },
  data() {
    return {
      infoDrop: false
    };
  }
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/variables";

.navigation {
  display: flex;
  background: map-get($colors, "black");
  color: map-get($colors, "white");
  padding: 10px 40px;
  justify-content: space-between;

  .brand {
    @include font(35);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -4px;
    font-weight: 600;
    color: map-get($colors, "primary");
    transition: 0.1s ease-in-out;

    &:hover {
      text-shadow: 2px 2px 1px map-get($colors, "black"),
        4px 3px 0px map-get($colors, "white");
    }
  }

  .info-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    .img-user {
      display: block;
      width: auto;
      height: 35px;
      border-radius: 50%;
    }

    .caret {
      margin-left: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: map-get($colors, "white") transparent transparent
        transparent;
    }

    .info-drop {
      position: absolute;
      background: map-get($colors, "black");
      right: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      top: 53px;

      li {
        padding: 8px 15px;
        font-weight: 500;
        text-align: right;

        .logout {
          color: map-get($colors, "primary");
          text-decoration: none;

          &:hover {
            color: darken(map-get($colors, "primary"), 5%);
          }
        }
      }
    }
  }
}
</style>
